# 管理者
## ログイン
### ユーザID・パスワードが正しい
- [ ] トップ画面に遷移する
### ユーザID・パスワードが違う
- [ ] エラーが表示される
## ログアウト
- [ ] ログアウトできる
## スタッフ登録
- [ ] ユーザログインしないとエラーになる
### 一覧画面
- [ ] データがない場合エラーにならない
- [ ] データがある場合データ一覧が表示される
- [ ] ラジオボタンを選択しないで詳細・編集・削除を選択したときにNG画面へ遷移する
### 登録
- [ ] 入力したスタッフデータが登録できる
- [ ] 入力したパスワードがハッシュ値で登録される
### 詳細
- [ ] 選択したスタッフデータの詳細が見れる
### 編集
- [ ] 選択・入力したスタッフデータが上書きできる
- [ ] 入力したパスワードがハッシュ値で登録される
### 削除
- [ ] 選択したスタッフデータが削除できる
## 商品登録
- [ ] ユーザログインしないとエラーになる
### 一覧画面
- [ ] データがない場合エラーにならない
- [ ] データがある場合データ一覧が表示される
- [ ] ラジオボタンを選択しないで詳細・編集・削除を選択したときにNG画面へ遷移する
### 登録
- [ ] 入力した商品データが登録できる
- [ ] 値段が数字ではない場合エラーになる
- [ ] 選択した画像がプレビューされる
### 詳細
- [ ] 選択した商品データの詳細が見れる
- [ ] 選択した商品データの画像がプレビューされる
### 編集
- [ ] 選択・入力した商品データが上書きできる
- [ ] 値段が数字ではない場合エラーになる
- [ ] 選択した画像がプレビューされる
- [ ] 古い商品画像が削除される
### 削除
- [ ] 選択した商品データが削除できる
- [ ] 選択した商品画像が削除される
## 注文ダウンロード
- [ ] ユーザログインしないとエラーになる
- [ ] 選択した日付のデータがcsvダウンロードで取得できる
- [ ] csvのファイル名がランダム命名

# ユーザ
- [ ] ユーザログインしなくても以下の処理ができる
## 商品詳細・カート
- [ ] 商品一覧が表示される
- [ ] 商品名をクリックすると商品の詳細が表示される
- [ ] 商品の詳細画面からカートに入れることができる
- [ ] カート内の一覧が表示される
- [ ] カート内の商品の数の変更ができる
- [ ] カート内の商品の数の変更時に数字以外はエラーになる
- [ ] カート内の商品の値段と数の掛け算の合計が表示される
- [ ] カート内の商品の削除ができる
## 商品の注文
- [ ] 名前が未入力の場合エラーになる
- [ ] メールアドレスが不正の場合エラーになる
- [ ] 郵便番号1が不正の場合エラーになる
- [ ] 郵便番号2が不正の場合エラーになる
- [ ] 住所が未入力の場合エラーになる
- [ ] 電話番号が不正の場合エラーになる
- [ ] エラーでない場合確認画面が表示される
- [ ] 確認承認後発注処理が行われる
